html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    position: relative;
    min-height: 100%;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
/*    margin: 0 0 900px;*/
}

h1, h2, p, li, a {
    font-weight: 300;
    color: #333333;
}

h1 {
    letter-spacing: 2px;
}

h1.hero {
    text-align: center;
    font-size: 42px;
    padding: 150px 0 20px 0;
    line-height: 36px;
    font-weight: 300;
    color: #333333;
    opacity: 0.7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    -webkit-font-smoothing: antialiased;
}

div.logo {
    background-image: url(images/andrea.png);
    height: 65px;
    width: 25%;
    position: relative;
    background-repeat: no-repeat;
    margin-left: 50px;
    -webkit-mask-image: linear-gradient(-75deg, rgba(189, 204, 205,.6) 30%, #000 50%, rgba(242, 239, 230,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 4s infinite;
    color: #777;
    visibility: hidden;
}

/*
div.logo:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(176, 195, 201,.6) 30%, #000 50%, rgba(242, 239, 230,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
*/

div.background {
    background-image: url(bg_plus.jpg); 
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 850px;
    top: 0 !important;  
}


div.homepage-hero-module {
    position: fixed;
    display: block;
/*    opacity: 0.6;*/
/*    overflow: hidden;*/
    z-index: -100;
    top: 30%;
}

p.hero {
    text-align: center;
    font-size: 21px;
    width: 33%;
    margin: auto;
    opacity: 0.7;
    letter-spacing: 2px;
}

div.Nav {
    width: 100%;
    height: 65px;
    background: #fff;
    opacity: 0.5;
/*    padding-top: 20px;*/
    border-top: 1px solid #7665ac;
    position: fixed;
    z-index: 100;
}

div.Nav ul {
    float: right;
    margin-right: 50px;
    padding-top: 3px;
}

div.Nav ul li {
    display: inline;
    padding: 0 10px 25px;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #404040;
    font-weight: 300;
}

div.Nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding-top: 20px;
    font-weight: 500;
    height: 70px;
}

div.Nav ul li a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
    color: #777;
}

div.submain {

    display: inline-block;
    position: relative;
    width: 75%;
/*    margin: 25px 0 450px 50px;*/
    margin: 25px 0 10px 50px;
    top: 65%; 
    background: #F9FAFC;
    border-radius: 2px;
}

h2.submain {
    font-size: 26px;
    text-transform: capitalize;
/*    border: 1px solid #777;*/
    padding: 10px;
    margin-bottom: 1px;
}

p.submain {
/*    border: 1px solid #777;*/
    padding: 5px 10px;
    margin-bottom: 1px;
}

div.sidebar {

    display: inline-block;
    position: relative;
    float: right;
    background: #F9FAFC;
    margin: 25px 75px 0 0;
    width: 15%;
    border-radius: 2px;
/*    height: 200px;*/
}

div.sidebar h2 {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 1px;
/*    border: 1px solid #777;*/
}

div.sidebar p {
    display: none;
    padding: 5px 10px;
    margin-bottom: 1px;
/*    border: 1px solid #777;*/
}

div.sidebar ul {
    padding: 5px 10px;
/*    border: 1px solid #777;*/
}

div.sidebar ul li {
    list-style-type: none;
}

div.sidebar ul li a {
    text-decoration: none;
    line-height: 175%;
}


/*Card stuff */


.wrapper {
    float: left;
/*    display: flex;*/
    max-width: 1000px;
    margin: 25px auto;
    padding-left: 1em;
    padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius { 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);      
}


/*** Card Styles  ***/



.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
    max-width: 329px;
    padding: 3px 3px 0 3px;
}

.card__padding {
    padding: 1.6rem;
}
 
.card__image {
    min-height: 100px;
    background-color: #eee;
}
    .card__image img {
        width: 100%;
        max-width: 100%;
        display: block;
    }

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
/*    font-size: 1.5rem;*/
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
    .card__article a:hover {
        color: #2980b9;
    }

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}
     
.card__author {}

    .card__author img,
    .card__author-content {
        display: inline-block;
        vertical-align: middle;
    }

    .card__author img{
        border-radius: 50%;
        margin-right: 0.6em;
    }

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
    .card__social--active {
        visibility: visible;
        /*z-index: 3;*/
        transform: translateZ(0);
        transform: translateX(-48px);
        transition: transform 0.35s ease;
    }




/*Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
    background: linear-gradient(141deg, #c3958a -17%, #ecede9 34%, #bad6e1 130%);
    opacity: 0.5;
    margin-top: 50px;
}

footer a:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
        color: #777;
}

footer div.social {
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-top: 15px;
    padding-right: 10px;
}

footer div.social ul {
    word-spacing: 20px;
}

footer div.social ul li {
    display: inline-block;
    list-style-type: none;
}

footer div.social ul li a {
    text-decoration: none;
}

footer div.designedby {
    display: inline-block;
    width: 35%;
    padding-left: 65px;
}






/*Shine Hover */

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}






